
@{
    ViewBag.Title = "UserVerification";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h2>User Verification Process</h2>

<div class="danger alert-danger">
    <strong>Mesaj..!!</strong>  @ViewBag.Message,  please click here to Login @Html.ActionLink("Login", "EnterLogin", "Login")
</div>
